
<h3>TODO Docs</h3>

<div class="d-flex justify-content-end mt-4">
    <a asp-action="Index" class="btn btn-secondary btn-md shadow rounded-pill back-button">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
</div>